<h1>Welcome to our Web Guesser Game</h1>
<p> This a game where you will have 7 chances max to try to beat me<p>
<p> You will try to guess the number that I am thinking between 1 to 100<p>
<p> Are you ready to try to beat me?<a href="/new">Start the Game</a></p>
<p1> The session and cookies </p1>

    

